<div class="explore">
    <div class="explore__divider">*****</div>
    <div class="explore__label">Explore the different categories</div>
    <ul class="categories">
        {% for category in site.data.categories %}
        <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
        <li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>
    </ul>
    <div class="explore__label">Website source available <a href="https://git.nixnet.xyz/Amolith/NixNet">here</a></div>
    <div class="explore__label">All content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a></div>
    <div class="explore__label"><i>(unless otherwise stated)</i></div>
</div>
