<div class="explore">
    <div class="explore__divider">*****</div>
    <div class="explore__label">Website source available on <a href="https://git.nixnet.xyz/Amolith/NixNet">GitNet</a></div>
    <div class="explore__label">Made with ❤️ and <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> by  <a href="https://nixnet.xyz/me/" target="_blank">Amolith</a></div>
    <div class="explore__label">All content is licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a></div>
    <div class="explore__label"><i>(unless otherwise stated)</i></div>
</div>
