---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #323234;
$iron: #ffffff;
$cloudy: #828282;

@import
    "mixins",
    "default",
    "404"
;
