---
layout: page
title: 404
sitemap:
  exclude: 'yes'
---

<h2 class="go-home">
    I suggest you go <u><a href="/">home</a></u>.
    It's 404 and getting dark . . .
</h2>


<!-- Adding the glitch effect -->
<script> document.getElementsByTagName('body')[0].classList.add('glitch'); </script>
