---
layout: page
title: Contact
subtitle: Where to find me
description: Various ways to contact me
permalink: /contact/
---
<p class="center">
These are some of my more public accounts; feel free to contact me at any of them!
</p>
<div class="flex-wrapper">
    <div class="flex-cards">
        <div class="contact-card">
            <a title="Mattermost" ref="me" href="http://nixnet.xyz/mattermost/" target="_blank">
                <h1><i class="fa fa-tachometer"></i></h1>
                <p>Mattermost</p>
            </a>
        </div>
        <div class="contact-card">
            <a title="Telegram" href="https://t.me/amolith/" target="_blank">
                <h1><i class="fa fa-telegram"></i></h1>
                <p>Telegram</p> 
            </a>
        </div>
        <div class="contact-card">
            <a title="Mastodon" rel="me" href="https://masto.nixnet.xyz/@amolith" target="_blank">
                <h1><i class="fa fa-mastodon"></i></h1>
                <p>Mastodon</p>
            </a>
        </div>
        <div class="contact-card">
            <a title="Email" href="mailto:{{ site.author.email }}" target="_blank">
                <h1><i class="fa fa-envelope"></i></h1>
                <p>Email</p>
            </a>
        </div>
    </div>
</div>
</br>
</br>
<hr/>
<p class="center">
I also have <a href="https://briarproject.org/" target="_blank">Briar</a> and <a href="https://signal.org/" target="_blank">Signal</a> if we meet IRL, <a href="https://keybase.io/amolith" target="_blank">Keybase</a>,  and I'm on <a href="https://wire.com/en/" target="_blank">Wire</a> as <code>@amolith</code>. I can be found on my Jabber/XMPP server at <code>amolith@nixnet.xyz</code>.
</p>
<p class="center">
Despite the many ways to contact me, email is and always will be my most preferrered method (as well as the most reliable).
</p>
<p class="center">If you email me, please be sure to encrypt it with my <a title="Plaintext GPG key" href="https://nixnet.xyz/amolith.txt" type="text/plain" target="_blank">GPG key</a>.
</p>
