---
layout: page
title: "NixNet"
subtitle: "Freedom served with a slice of liberty"
description: "A network of websites and services hosted by Amolith available for anyone to use free of charge."
cover: /cover.png
sitemap:
priority: 0.9
---
<center><p>I host a variety of services that are available for anyone to use free of charge. Below is a list with descriptions of each.</p></center>
</br>
<center><h1><a href="https://status.nixnet.xyz" target="_blank"><u>Status page</u></a> / <a href="https://netdata.nixnet.xyz" target="_blank"><u>Stats page</u></a></h1></center>
</br>
<center>
    <form>
        <input id="search_field" type="text" autocomplete="off" name="search" placeholder="Search services . . .">
    </form>
</center>
</br>
</br>
<div class="flex-wrapper">
    <div class="flex-cards">
        <!-- JS cards here -->
    </div>
</div>
<center><h1><u><a href="https://wiki.nixnet.xyz/shelves/nixnet" target="_blank">Technical information about NixNet</a></u></h1></center>
<script src="/jquery-3.3.1.min.js" charset="utf-8"></script>
<script src="/app.js" charset="utf-8"></script>
