---
layout: page
title: Amolith (me)
subtitle: GNU/Linux lover and multi-instrumentalist
description: A bit about NixNet's admin, Amolith
cover: /assets/pages/me.png
permalink: /me/
---
<p>I am an 18 year old student who lives in the Southern US. This is my last year in high school and I’m planning to graduate with my high school diploma, an Associate’s Degree in Arts, a second in Sciences, and a third in Fine Arts, Music.</p>
<center><h1>Experience with Linux, abbrv.</h1></center>
<center><h2>Where it all started</h2></center>
<p>I got started with GNU/Linux nearly two years ago and it was amazing. The only computer I had at the time was an Acer C710 Chromebook that I got at the beginning of 8th grade. I had this for three years before I grew tired of how limited it was. A friend told me about this thing called Linux and how I should look into seeing if I could get it on my Chromebook. He brought a USB stick to school that he said was “bootable”. I had no idea what this was but I trusted him. We turned off my Chromebook and turned it back on and he tried pressing a bunch of keys. This didn’t do anything. He was really confused and told me I’d have to do my own research on how to install Linux. I did and, eventually, I discovered a few tutorials I could follow. I combined a couple different ones, messed with the motherboard, enabled dev mode, flashed a new BIOS, and got vanilla Ubuntu installed.</p>
<center><h2>Distro hopping</h2></center>
<p>I had a very bad experience with this because the Acer C710 has a 1.1 GHz dual-core processor, 2 GB of RAM, and 16 GB of storage (SSD). I didn’t give up though and started distro hopping, looking for the most lightweight distro I could find. This eventually led me to GalliumOS, a distro built for Chromebooks. It ran well enough but I had heard of this thing called Arch that was supposed to be the ultimate. I knew I couldn’t install vanilla Arch so I went with ArcoLinuxD (ArchMergeD, at the time) and it was a great experience. That’s what’s still on my Chromebook.</p>
<center><h2>“Real” computer</h2></center>
<p>Last March, a friend’s father got me a brand new laptop that actually works. I left Windows on it for three days then wiped it. I went with ArchLabs and loved it . . . until I tried to play some Steam games. Apparently there was a font issue with some of ArchLabs’ s fonts. No one was able to help so I just went for Arch. I installed Xubuntu (I like lightweight distros on powerful machines) on half the drive and worked on Arch for the other half. I tried and failed in two days the first time and succeeded in 15 minutes the next time. It took all the next day to get it set up. I’m actually still on that same installation and haven't had anything break so far.</p>

<center><h1>That brings us to . . . now</h1>
<p>I should really put something here 🤔
<br>
For the time being, check out my Masto feed! 😁</p>
<iframe allowfullscreen sandbox="allow-top-navigation allow-scripts" width="400" height="600" src="https://www.mastofeed.com/api/feed?url=https%3A%2F%2Fmasto.nixnet.xyz%2Fusers%2Famolith.atom&theme=dark&size=100&header=true&replies=false&boosts=false"></iframe>
<br>
<p>If you want to contact me, check the <a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a> page.</p>
</center>
