---
layout: page
title: Wireguard
subtitle: "A next-gen VPN service"
description: "Wireguard, an open-source software application and protocol that implements virtual private network techniques to create secure point-to-point connections in routed or bridged configurations . . . and a service hosted on NixNet! 😀"
cover: /assets/pages/wireguard.png
---
<center>
<p>
This is a service I offer for free. <i>However</i>, it is not available for everyone. I'd be risking a lot, as the server owner, if I let someone use Wireguard and they did something illegal. I would likely be liable for that crime should anything happen. Therefore, if you need a VPN, <a href="https://nixnet.xyz/contact/">contact me</a> and we'll see what we can work out!
</p>
</center>
