<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>
        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
            <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/friends' | prepend: site.baseurl }}">Friends</a></li>
        </ul>
    </div>
    <ul class="social-links">
        <a href="/feed.xml" title="The RSS feed for my blog" class="social-linkes__entry" target="_blank">
            <i class="fa fa-rss-square"></i>
        </a>
        <a href="/me/" title="About Amolith" class="social-links__entry">
            <i class="fa fa-info-circle"></i>
        </a>
        {% if site.author.mastodon %}
        <a rel="me" title="Mastodon, a decentralised social network" href="https://masto.nixnet.xyz/@{{ site.author.mastodon }}" class="social-links__entry" target="_blank">
            <i class="fa fa-mastodon"></i>
        </a>
        {% endif %}
        {% if site.author.telegram %}
        <a href="https://t.me/{{ site.author.telegram }}" title="Message me on Telegram"class="social-links__entry" target="_blank">
            <i class="fa fa-telegram"></i>
        </a>
        {% endif %}
        {% if site.author.email %}
        <a href="mailto:{{ site.author.email }}" title="Send me a GPG-encrypted email" class="social-links__entry" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        {% endif %}
    </ul>
</header>
