;
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('/assets/fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/open-sans-v15-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
    url('/assets/fonts/open-sans-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/open-sans-v15-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/open-sans-v15-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
    url('/assets/fonts/inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/inconsolata-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/inconsolata-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/inconsolata-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/inconsolata-v16-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inconsolata-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
    url('/assets/fonts/inconsolata-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/inconsolata-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/inconsolata-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/inconsolata-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/inconsolata-v16-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/overpass-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Overpass Regular'), local('Overpass-Regular'),
    url('/assets/fonts/overpass-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/overpass-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/overpass-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/overpass-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/overpass-v2-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* =Base */




input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    background-color: #292929;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
} 

input[type=text]:focus {
    width: 75%;
}




body {
    font-family: 'Open Sans';
    color: $iron;
    background-color: $dorian;
}

a {
    color: $iron;
    font-weight: bold;
    text-decoration: none;
}

.content a {
    text-decoration: bold;
    content: '<i class="fa fa-link"></i>'
}

p {
    font-size: 20px;
    line-height: 32px;
}

p.center {
    text-align: center;
}

ul {
    font-size: 17px;
    line-height: 27px;
}

ol {
    font-size: 17px;
    line-height: 27px;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}
.flex-wrapper {
    display: flex;
    justify-content: center;
    background-color: #323234;
}
.flex-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #323234;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 5px;
    transition: 0.3s;
    border-radius: 5px;
    width: 28.3%;
    background: #4f4f4fff;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}
div.card p {
    font-size: 17px;
    text-align: left;
    line-height: 27px;
}
.card:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5);
}
.crypto-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 5px;
    transition: 0.3s;
    border-radius: 5px;
    width: 35%;
    background: #ffffffff;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: #323234;
    word-wrap: break-word;
}
div.crypto-card p {
    font-size: 17px;
    text-align: center;
    line-height: 27px;
}
.crypto-card:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5);
}
.button {
    border-radius: 8px;
    border: 0px;
    color: #4f4f4fff;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #fff;
}
.button:hover {
    background-color: #4f4f4fff;
    color: #FFFFFF;
}
.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background: #4f4f4fff;
    margin: 5px;
    transition: 0.3s;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}
div.contact-card h1 {
    font-size: 50px;
    text-align: center;
    line-height: 0px;
}
div.contact-card h2 {
    font-size: 17px;
    line-height: 27px;
}
.contact-card:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5);
}
blockquote {
    letter-spacing: 1px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 70%;
    margin: 100px auto;
}

.header {
    overflow: hidden;
    font-family: 'Overpass';
}

.navigation {
    float:left;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    font-weight: 400;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    margin-top:100px;
    margin-bottom:75px;
    text-align: center;
    font-family: 'Overpass';
}

.page-title__text {
    font-weight: 600;
    font-size: 60px;
}

.page-title__subtitle {
    font-weight: 400;
    font-family: 'Inconsolata';
    font-size: 22px;
    color: $cloudy;
}

.post-title {
    margin-bottom: 110px;
    font-family: 'Overpass';
}

.post-title__text {
    font-size: 40px;
}

.post-title__subtitle {
    font-size: 20px;
}

/* =Post teasers */

.list-posts {
    list-style-type: none;
    font-family: 'Overpass';
    padding: 0px;
}

.post-teaser {
    font-family: 'Overpass';
}

.post-teaser p {
    margin-bottom: 55px;
    font-weight: 200;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: none;
}

.post-teaser__title {
    font-size: 25px;
    color: $iron;
}

.post-teaser__date {
    font-size: 17px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
    font-family: 'Inconsolata';
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    font-family: 'Inconsolata';
    color: $cloudy;
    margin-top: 140px;
}

.explore__divider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Inconsolata';
}

.categories {
    list-style-type: none;
    font-family: 'Inconsolata';
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
    font-family: 'Inconsolata';
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__divider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

#disqus_thread {
    margin-top: 100px;
}
@media (max-width: 1000px) {
    .contact-card {
        width: 28%;
    }
}
@media (max-width: 800px) {
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 18px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 10px;
        float: none;
        @include centered-block();
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }
    .post-teaser p {
        text-align: center;
    }
    .card {
        width: 40%;
    }
    .contact-card {
        width: 30%;
    }
    .crypto-card {
        width: 70%;
    }
}
@media (max-width: 620px) {
    input[type=text] {
        width: 80%;
    }
    input[type=text]:focus {
        width: 100%;
    }
    .card {
        width: 80%;
    }
    .contact-card {
        width: 45%;
    }
    .crypto-card {
        width: 70%;
    }
}
@media (max-width: 400px) {
    .card {
        width: 100%;
    }
    .contact-card {
        width: 100%;
    }
    .crypto-card {
        width: 100%;
    }
}
;
