---
layout: blog
title: "~/"
subtitle: "You are, quite obviously, home."
description: "Ramblings from a random GNU/Linux user, sysadmin, and professional multi-instrumentalist"
cover: /me.png
sitemap:
  priority: 0.9
---
<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
                <p>{{ post.description }}</p>
            </a>
        </li>
    {% endfor %}
</ul>
