<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="pgpkey" href="/amolith.txt">
<link rel="openid.delegate" href="https://nixnet.xyz/" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />
<link href="mailto:amolith@nixnet.xyz" rel="me">
