<div class="about">
    <div class="about__divider">*****</div>
    <div class="about__text">
        Written by the pseudonymous<strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
        on <strong>{{ page.date | date: "%d %B %Y" }}</strong>
    </div>
    <div class="explore__label">All content on this website is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a> license.</div>
</div>

