<!DOCTYPE html>
<html class="" lang="en-US" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
    </head>

    <body>
        <div class="wrapper">
            {% include header.html %}

            {{ content }}
        </div>

        {% include externals/scripting.html %}
    </body>
</html>
